.head_search {
  @media (min-width: 988px) {
    display: none;
  }
  padding: 4px;
  h3 {
    margin: 5px 0;
  }
  margin: 10px 0;
  input {
    width: 100%;
    padding: 6px;
  }
}
.head-name {
  .form-inline {
    margin-left: auto;
    @media (max-width: 988px) {
      display: none;
    }
  }
  .nav_category {
    @media (min-width: 988px) {
      display: none;
    }
  }
  .login-btn {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.bg-color {
  background-color: #f6f6f6 !important;
}
